<html lang="en">
  <head>
    <title><%= data.student.name %> Report Card</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <style>
      @page {
        size: A4;
      margin: 0;

      }

      td,
      th {
        border: 2px solid #8c375c;
      }

      body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        color: #8c375c;
      }

      .container {
        padding: 30px;
      }

      .report-card {
        /*border: 2px solid rgb(165, 117, 48);*/
      }

      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
      }

      th, td {
      padding: 3px;
      text-align: center;
      }

      @media screen and (max-width: 768px) {
        .header {
          align-items: start !important;
          gap: 4px !important;
        }
        .subject_table {
          overflow-x: auto;
          min-width: 900px;
        }
        .divider {
          display: none;
        }
        .address_motto {
          flex-direction: column;
        }
        .character {
          flex-direction: column;
        }
        .first_text {
          flex-direction: column;
        }
        .subjectName {
          width: 400px !important;
        }
        .container {
          padding: 20px;
        }
        .passport {
          width: 100px !important;
          height: 100px !important;
        }
        .passport_text {
          font-size: 12px !important;
        }
        .school_logo {
          width: 100px !important;
          height: 100px !important;
        }
        .text {
          flex-direction: column;
        }
        .items {
          width: 100% !important;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="report-card">
        <div
          class="header"
          style="
            display: flex;
            justify-content: space-between;
            gap: 20px;
            align-items: center;
            text-align: center;
          "
        >
          <div class="school_logo" style="border: 1px solid #000; width: 200px; height: 200px">
            <img
              src="<%= data.school.logo %>"
              alt="Logo"
              height="200"
              width="200"
              style="object-fit: contain"
            />
          </div>
          <div style="display: flex; align-items: center; flex-direction: column">
            <h1 style="color: #8c375c; font-size: 55px; margin: 0; text-align: center; font-weight: 900;">
              <%= data.school.name?.toUpperCase() %>
            </h1>
            <h3 style="margin: 0; font-size: 20px; color: rgb(51, 71, 75); font-weight: 400">
              NURSERY, PRIMARY & SECONDARY SCHOOL
              </h3>
            <!-- <h5
              style="
                margin: 10px 0;
                color: #8c375c;
                font-size: 10px;
                font-weight: 400;
                border: 1px solid #8c375c;
                padding: 5px;
                border-radius: 8px;
              "
            >
              Motto:
              <%= data.school.motto %>
            </h5> -->

            <h4
              style="
                margin: 0;
                font-size: 30px;
                color: rgb(51, 71, 75);
                font-weight: 700;
                text-align: center;
                text-transform: uppercase;

              "
            >
              <%= data.school.address %>
            </h4>
            <!-- <div style="margin-bottom: 5px"></div> -->

            <!-- <div
              class="address_motto"
              style="display: flex; align-items: center; gap: 10px; margin-bottom: 5px"
            >
              <h5 style="margin: 0; font-size: 14px; color: rgb(51, 71, 75)">
                Tel: 08160030881, 07036563931.
              </h5>
              <h5 style="margin: 0; font-size: 14px; color: rgb(51, 71, 75)">
                Email: busaahmad1@gmail.com
              </h5>
            </div> -->
            <h2 style="font-size: 25px; margin: 0; padding-top: 3px; word-spacing: 5px; font-weight: 300; font-family: 'Times New Roman', Times, serif; text-decoration: underline;"> EXAMINATION REPORT SHEET </h2>
            <div style="margin-top: 7px"></div>
          
          </div>
          <div
            class="passport"
            style="
              position: relative;
              border: 1px solid #000;
              width: 200px;
              height: 200px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <% if (data.student.passport) { %>
            <img
              src="<%= data.student.passport %>"
              alt="Passport"
              height="200"
              width="200"
              style="object-fit: contain"
            />
            <% } else { %>
            <div
              class="passport_text"
              style="
                position: absolute;
                color: #000;
                font-weight: bold;
                font-size: 20px;
                transform: rotate(-45deg);
                opacity: 0.5;
                text-align: center;
              "
            >
              Passport
            </div>
            <% } %>
          </div>
        </div>

        <div class="text" style="display: flex; gap: 10px; background-color: #ddced5; padding: 6px; margin-top: 10px;">
          <div class="items" style="display: flex; align-items: flex-end; width: 50%; gap: 4px">
            <p style="margin: 0; font-size: 16px; line-height: 14px; font-weight: 700">NAME:</p>
            <div
              class="student-name"
              style="
                flex: 1;
                font-size: 16px;
                font-weight: 400;
                padding-left: 5px;
              "
            >
              <%= data.student.name %>
            </div>
          </div>
          <div class="items" style="display: flex; align-items: flex-end; gap: 4px; width: 20%">
            <p style="margin: 0; font-size: 16px; line-height: 14px; font-weight: 700">
              ADM.NO:
            </p>
            <div
              style="flex: 1; font-size: 16px; font-weight: 400"
            >
              <%= data.student.regNumber %>
            </div>
          </div>
          <div style="margin: 0; font-size: 16px; line-height: 14px; font-weight: 600; width: 30%;">
            <%= data.school.motto %>
          </div>
        </div>
        <div style="margin-top: 20px; display: flex; flex-direction: column; gap: 12px; background-color: #8c375c; padding: 10px;"> 
          <div class="text" style="display: flex; align-items: center; gap: 20px">
            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 40%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; color: white;">CLASS:</p>
              <div
                style="flex: 1; border-bottom: 1px solid #8c375c; font-size: 16px; font-weight: 400; background-color: white; padding: 4px;"
              >
                <%= data.className %>
              </div>
            </div>
            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; color: white;">DATE OF BIRTH:</p>
              <div
                style="flex: 1; border-bottom: 1px solid #8c375c; font-size: 16px; font-weight: 400; background-color: white; padding: 4px;"
              >
                <%= data.student.dob %>
              </div>
            </div>
            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700 ; color: white; ">CLASS POPULATION:</p>
              <div
                style="flex: 1; border-bottom: 1px solid #8c375c; font-size: 16px; font-weight: 400; background-color: white; padding: 4px"
              >
                <%= data.numberInClass %>
              </div>
            </div>
           
          </div>
          <div class="text" style="display: flex; gap: 20px">
            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700 ; color: white;">
                TERM:
              </p>
              <div
                style="flex: 1; border-bottom: 1px solid #8c375c; font-size: 16px; font-weight: 400; background-color: white; padding: 4px;"
              >
                <%= data.termName %>
              </div>
            </div>
            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 40%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; color: white;">
                SEX:
              </p>
              <div style="flex: 1; font-size: 16px; border-bottom: 1px solid #8c375c; background-color: white; padding: 4px;">
                <%= data.student.gender %>
              </div>
            </div>
            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; color: white;">
                CLASS POSITION:
              </p>
              <div
                style="flex: 1; font-size: 16px; font-weight: 400; border-bottom: 1px solid #8c375c; background-color: white; padding: 4px;"
              >
                <%= data.student.position %>
              </div>
            </div>
            
          </div>
          <div class="text" style="display: flex; gap: 20px">
            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; color: white;">
                SESSION:
              </p>
              <div
                style="flex: 1; font-size: 16px; font-weight: 400; border-bottom: 1px solid #8c375c; background-color: white; padding: 4px;"
              >
                <%= data.sessionName%>
              </div>
            </div>

            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; color: white;">
                House:
              </p>
              <div
                style="flex: 1; font-size: 16px; font-weight: 400; border-bottom: 1px solid #8c375c; background-color: white;padding: 4px;"
              >
                <%= data.student.house %>
              </div>
            </div>

            <div class="items" style="display: flex; align-items: center; gap: 4px; width: 40%; ">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; color: white;">
                NO. OF SUBJECTS TAKEN:
              </p>
              <div
                style="flex: 1; font-size: 16px; font-weight: 400; border-bottom: 1px solid #8c375c; background-color: white; padding: 4px;"
              >
                <%= data.numberOFSubject %>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 30px; overflow-x: auto">
          <table
            class="subject_table"
            style="
              border: 1px solid #8c375c;
              width: 100%;
              table-layout: fixed;
              border-collapse: collapse;
            "
          >
            <thead
            style="
      text-transform: uppercase;
    

        ">
              <tr style="background-color: #8c375c; color: white;">
                <th rowspan="2" style="width: 20%; font-size: 16px; padding: 5px; font-weight: 700">
                  SUBJECTS
                </th>

              
                <th scope="col" style="font-size: 10px">C/A (40%)</th>
               
                <th scope="col" style="font-size: 10px">EXAM (60%)</th>
                <th scope="col" style="font-size: 10px">TOTAL (100%)</th>
            
                <th rowspan="2" style="font-size: 12px">GRADE</th>
                <th rowspan="2" style="font-size: 12px">REMARK</th>
                <th rowspan="2" style="font-size: 12px">POSITION</th>
             
              </tr>
              
            </thead>
            <tbody>
              <% data?.subjects?.forEach(function({
                subjectName,
                subjectId,
                id1,
                id2,
                exam,
                total,
                averageScore,
                grade,
                comment,
                sign,
                assessments,
                position
              }) { %>
                <% const subject = data.annualRecord.subjects.find(subj => subj.subjectId ===
                subjectId); %>
              <tr>
                <td class="subjectName" style="font-size: 12px; padding: 5px; font-weight: 700;text-align: left;
      ">
                  <%= subjectName %>
                </td>
                <td style="font-size: 12px; padding-left: 5px">
                  <%= assessments ? Number(assessments[0]) +  Number(assessments[1]): '' %>
                </td>
                
                <td style="font-size: 12px; padding-left: 5px">
                  <%= assessments ? assessments[2] : '' %>
                </td>
                <td style="font-size: 12px; padding-left: 5px;font-weight: bold;"><%= total %></td>
                
               
                <td style="font-size: 12px; padding-left: 5px">
                  <%= grade ? grade.label : "" %>
                </td>
                <td style="font-size: 12px; padding-left: 5px">
                  <%= grade ? grade?.description : "" %>
                </td>
                <td style="font-size: 12px; padding-left: 5px">
                  <% function getOrdinal(position) { if (!position) return ''; if (position % 10 ===
                  1 && position % 100 !== 11) return `${position}st`; if (position % 10 === 2 &&
                  position % 100 !== 12) return `${position}nd`; if (position % 10 === 3 && position
                  % 100 !== 13) return `${position}rd`; return `${position}th`; } %> <%=
                  getOrdinal(position) %>
                </td>
                
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>


        <div style="display: flex; width: 100%; margin-top: 20px;">
          <div style="width: 50%;">
            <div class="items" style="display: flex; align-items: center; gap: 4px; ">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; ">NO OF PAPER PASS:</p>
              <div
                style="flex: 1;  font-size: 16px; font-weight: 400; padding: 4px;"
              >
                <%= data.numberOFSubject %>
              </div>
            </div>
            <div class="items" style="display: flex; align-items: center; gap: 4px; ">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; ">RESULT:</p>
              <div
                style="flex: 1;  font-size: 16px; font-weight: 400;  padding: 4px;"
              >
                <%= data.overallGrade.description %>
              </div>
            </div>
          </div>
          <div style="width: 50%;">
            <div class="items" style="display: flex; align-items: center; gap: 4px; ">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; ">TOTAL SCORE:</p>
              <div
                style="flex: 1;  font-size: 16px; font-weight: 400; padding: 4px;"
              >
                <%= data.markObtained %>
              </div>
            </div>
            <div class="items" style="display: flex; align-items: center; gap: 4px; ">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700;">AVERAGE SCORE:</p>
              <div
                style="flex: 1; font-size: 16px; font-weight: 400;  padding: 4px;"
              >
                <%= data.markObtainable %>
              </div>
            </div>
          </div>
        </div>

        <div class="character" style="margin-top: 20px; display: flex; gap: 20px">
          <div style="width: 100%">
            <p style="text-align: center; font-size: 14px; font-weight: 700; margin-bottom: 5px; border: 2px solid #8c375c;">
              AFFECTIVE DEVELOPMENT (Highest Point = 5)
            </p>

            <table
              style="
                border: 2px solid #8c375c;
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
              "
            >
              <thead>
                <tr style="background-color: #8c375c; color: white;">
                  <th
                    style="
                      width: 60%;
                      font-size: 12px;
                      font-weight: 700;
                      border: 2px solid #8c375c;
                      padding: 5px;
                    "
                  >
                    BEHAVIOR
                  </th>
                  <th
                    style="
                      width: 40%;
                      font-size: 12px;
                      font-weight: 700;
                      border: 2px solid #8c375c;
                      padding-left: 5px;
                    "
                  >
                    SCORE
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data.character_development.forEach(function(character) { %>
                <tr>
                  <td style="font-size: 12px; border: 2px solid #8c375c; padding: 5px">
                    <%= character.name %>
                  </td>
                  <td style="font-size: 12px; border: 2px solid #8c375c; padding-left: 5px">
                    <%= character.value %>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>

          <div style="width: 100%">
            <p style="text-align: center; font-size: 14px; font-weight: 700; margin-bottom: 5px;border: 2px solid #8c375c;">
              PSYCHOMOTO DEVELOPMENT(Highest Point = 5)
            </p>
            <table
              style="
                border: 2px solid #8c375c;
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
              "
            >
              <thead>
                <tr style="background-color: #8c375c; color: white;">
                  <th
                    style="
                      width: 60%;
                      font-size: 12px;
                      font-weight: 700;
                      border: 2px solid #8c375c;
                      padding: 5px;
                    "
                  >
                    SKILL
                  </th>
                  <th
                    style="
                      width: 40%;
                      font-size: 12px;
                      font-weight: 700;
                      border: 2px solid #8c375c;
                      padding-left: 5px;
                    "
                  >
                    SCORE
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data.practical_skills.forEach(function(skill) { %>
                <tr>
                  <td style="font-size: 12px; border: 2px solid #8c375c; padding: 5px">
                    <%= skill.name %>
                  </td>
                  <td style="font-size: 12px; border: 2px solid #8c375c; padding-left: 5px">
                    <%= skill.value %>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
         
          <div style="width: 100%">
            <p style="text-align: center; font-size: 14px; font-weight: 700; margin-bottom: 5px ; border: 2px solid #8c375c;">
              GRADE
            </p>

            <table
              style="
                border: 2px solid #8c375c;
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
              "
            >
              <thead>
                <tr style="background-color: #8c375c; color: white;">
                  <th
                    style="
                      width: 50%;
                      font-size: 12px;
                      font-weight: 700;
                      border: 2px solid #8c375c;
                      padding: 5px;
                    "
                  >
                    MARK RANGE
                  </th>
                  <th
                    style="
                      width: 50%;
                      font-size: 12px;
                      font-weight: 700;
                      border: 2px solid #8c375c;
                      padding-left: 5px;
                    "
                  >
                    GRADE
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data.grades.forEach(function(grade) { %>
                <tr>
                  <td style="font-size: 12px; border: 2px solid #8c375c; padding: 5px">
                    <%= Number(grade.min) %> - <%= Number(grade.max) %>
                  </td>
                  <td style="font-size: 12px; border: 2px solid #8c375c; padding-left: 10px">
                    <%= grade.label %> = <%= grade.description %>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>

        <!-- <div style="margin-top: 10px">
          <div class="first_text" style="display: flex; gap: 10px">
            <div style="flex: 1; display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 14px; font-weight: 700; text-transform: uppercase">
                Position In Class:
              </p>
              <div
                style="flex: 1; border-bottom: 1px solid #8c375c; font-size: 14px; font-weight: 400"
              >
                <% 
                  let position = data?.overAllPosition || 0;
                  let ordinal;
                  if (position % 10 === 1 && position % 100 !== 11) {
                    ordinal = `${position}st`;
                  } else if (position % 10 === 2 && position % 100 !== 12) {
                    ordinal = `${position}nd`;
                  } else if (position % 10 === 3 && position % 100 !== 13) {
                    ordinal = `${position}rd`;
                  } else {
                    ordinal = `${position}th`;
                  }
                %>
                <%= ordinal %>
              </div>
            </div>

            <div style="flex: 1; display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 14px; font-weight: 700; text-transform: uppercase">
                Class Average (class Total Score/no Of Pupils)
              </p>
              <div
                style="flex: 1; border-bottom: 1px solid #8c375c; font-size: 14px; font-weight: 400"
              >
              <%= data.annualRecord.annualAverageScore || "0" %>
              </div>
            </div>
          </div>

          <div
            style="
              display: flex;
              align-items: flex-end;
              gap: 4px;
              margin-top: 20px;
              font-size: 14px;
            "
          >
            <p style="margin: 0; font-weight: 700; text-transform: uppercase">
              Class Teacher's Comment:
            </p>
            <div style="border-bottom: 1px solid #8c375c; flex: 1">
              <%= data?.classTeacherRemark %>
            </div>
          </div>
          <div
            style="
              display: flex;
              font-size: 14px;
              align-items: flex-end;
              gap: 4px;
              margin-top: 20px;
            "
          >
            <p style="margin: 0; font-weight: 700; text-transform: uppercase">
              Head Teacher's Comment:
            </p>
            <div style="border-bottom: 1px solid #8c375c; flex: 1">
              <%= data?.principalRemark %>
            </div>
          </div>
          <div
            style="
              display: flex;
              font-size: 14px;
              align-items: flex-end;
              gap: 4px;
              margin-top: 20px;
            "
          >
            <p style="margin: 0; font-weight: 700; text-transform: uppercase">Parent Comment:</p>
            <div style="border-bottom: 1px solid #8c375c; flex: 1">
             
            </div>
          </div>

          <div style="display: flex; align-items: flex-end; gap: 4px; margin-top: 20px">
            <p style="margin: 0; font-size: 14px; font-weight: 700">NEXT TERM BEGINS:</p>
            <div
              style="flex: 1; border-bottom: 1px solid #8c375c; font-size: 14px; font-weight: 400"
            >
              <%= data?.nextTermBegin %>
            </div>
          </div>
          <div
            style="
              display: flex;
              font-size: 14px;
              align-items: center;
              gap: 20px;
              margin-top: 20px;
              justify-content: space-between;
            "
          >
            <div style="display: flex; font-size: 14px; gap: 4px; width: 48%">
              <p style="margin: 0; font-weight: 700">PROMOTED TO:</p>
              <div style="border-bottom: 1px solid #8c375c; flex: 1">
                <%= data?.promoted ? data.nextClassName : '' %>
              </div>
            </div>
            <div style="display: flex; font-size: 14px; gap: 4px; width: 48%">
              <p style="margin: 0; font-weight: 700">TO REPEAT:</p>
              <div style="border-bottom: 1px solid #8c375c; flex: 1">
                <%= data?.promoted ? '' : data.className %>
              </div>
            </div>
          </div>
        </div> -->
      </div>
      <div class="divider" style="width: 3000px; height: 1px"></div>
    </div>
  </body>
</html>
