<html lang="en">
  <head>
    <title><%= data.student.name %> Report Card</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <style>
      @page {
      size: A4;
      margin: 0;
    }
    
    
      td,
      th {
        border: 2px solid #51819A;
      }

      th, td {
      padding: 3px;
      text-align: center;
      
    }


      body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        color: #51819A;
      }

      .container {
        border: 2px solid 51819A;
        padding: 30px;
        margin: 4px;

      }

      .report-card {
        /*border: 2px solid rgb(165, 117, 48);*/
      }

      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
      }

      th,
      td {
        padding: 4px;
        font-size: 0.9em;
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="report-card">
        <div style="display: flex; justify-content: space-between; gap: 20px">
          <div style="border: 1px solid #000; width: 200px; height: 200px">
            <img
              src="<%= data.school.logo %>"
              alt="Logo"
              height="200"
              width="200"
              style="object-fit: contain"
            />
          </div>
          <div style="display: flex; align-items: center; flex-direction: column">
            <h1 style="color: #51819A; font-size: 35px; margin: 0">
              <%= data.school.name?.toUpperCase() %>
            </h1>
            <!-- <h3 style="font-size: 20px; color: rgb(51, 71, 75); margin: 0">
              (NURSERY/PRIMARY/SECONDARY)
            </h3> -->
            <h4
              style="
                margin: 0;
                font-size: 18px;
                color: rgb(51, 71, 75);
                font-weight: 400;
                margin-top: 5px;
              "
            >
              <%= data.school.address %>
            </h4>
            <!-- <h5 style="margin: 0; color: red; font-size: 16px; font-weight: 400; margin-top: 4px">
              Motto: <%= data.school.motto %>
            </h5> -->
            <h5 style="margin: 0; font-size: 16px; color: rgb(51, 71, 75); margin-top: 10px;">
              Tel: 07061913800, 08036405615.
            </h5>
            <h2
              style="
                font-size: 14px;
                margin: 0;
                background-color: #51819A;
                padding: 8px;
                color: white;
                width: fit-content;
                margin-top: 6px;
              "
            >
            JSS REPORT SHEET
            </h2>
            <div style="margin-top: 10px"></div>
            <!-- <h3 style="margin: 0; font-size: 18px; color: #51819A">(JSS SECTION)</h3> -->
          </div>
          <div
            style="
              position: relative;
              border: 1px solid #000;
              width: 200px;
              height: 200px;
              display: flex;
              align-items: center;
              justify-content: center;
            "
          >
            <% if (data.student.passport) { %>
            <img
              src="<%= data.student.passport %>"
              alt="Passport"
              height="200"
              width="200"
              style="object-fit: contain"
            />
            <% } else { %>
            <div
              style="
                position: absolute;
                color: #000;
                font-weight: bold;
                font-size: 20px;
                transform: rotate(-45deg);
                opacity: 0.5;
                text-align: center;
              "
            >
              Passport
            </div>
            <% } %>
          </div>
        </div>
        <div style="margin-top: 30px; display: flex; flex-direction: column; gap: 10px">
         <div style="display: flex; gap: 10px;">
          <div style="display: flex; align-items: flex-end; width: 60%; gap: 4px">
            <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
              Name of Student:
            </p>
            <div
              class="student-name"
              style="
                flex: 1;
                border-bottom: 1px solid #51819A;
                font-size: 16px;
                font-weight: 400;
                padding-left: 5px;
              "
            >
              <%= data.student.name %>
            </div>
          </div>
          <div style="display: flex; align-items: flex-end; width: 40%; gap: 4px">
            <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
              House:
            </p>
            <div
              class="student-name"
              style="
                flex: 1;
                border-bottom: 1px solid #51819A;
                font-size: 16px;
                font-weight: 400;
                padding-left: 5px;
              "
            >
              <%= data.student.house %>
            </div>
          </div>
         </div>
        
          <div style="display: flex; gap: 10px">
            <div style="display: flex; align-items: flex-end; gap: 4px; width: 60%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
                Class:
              </p>
              <div
                style="flex: 1; border-bottom: 1px solid #51819A; font-size: 16px; font-weight: 400"
              >
                <%= data.className %>
              </div>
            </div>
            
            <div style="display: flex; align-items: flex-end; width: 40%; gap: 4px">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
                Adm N0:
              </p>
              <div
                class="student-name"
                style="
                  flex: 1;
                  border-bottom: 1px solid #51819A;
                  font-size: 16px;
                  font-weight: 400;
                  padding-left: 5px;
                "
              >
                <%= data?.student?.regNumber %>
              </div>
            </div>
            
            <div style="display: flex; align-items: flex-end; gap: 4px; width: 20%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
                No. in Class:
              </p>
              <div
                style="flex: 1; border-bottom: 1px solid #51819A; font-size: 16px; font-weight: 400"
              >
                <%= data.numberInClass %>
              </div>
            </div>
          </div>

          <div style="display: flex; gap: 20px">
            <div style="display: flex; align-items: flex-end; gap: 4px; width: 40%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700; text-transform: capitalize;">next term begins:</p>
              <div
                style="flex: 1; border-bottom: 1px solid #51819A; font-size: 16px; font-weight: 400"
              >
                <%= data.nextTermBegin %>
              </div>
            </div>

            <div style="display: flex; align-items: flex-end; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
                Total Mark:
              </p>
              <div
                style="flex: 1; border-bottom: 1px solid #51819A; font-size: 16px; font-weight: 400"
              >
                <%= data.markObtained %>
              </div>
            </div>
          
            <div style="display: flex; align-items: flex-end; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">TERM:</p>
              <div
                style="flex: 1; border-bottom: 1px solid #51819A; font-size: 16px; font-weight: 400"
              >
                <%= data.termName %>
              </div>
            </div>
            
          </div>

          <div style="display: flex; gap: 20px">
            <div style="display: flex; align-items: flex-end; gap: 4px; width: 40%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
                Overall Percentage:
              </p>
              <div style="flex: 1; font-size: 16px; border-bottom: 1px solid #51819A">
                <%= data.markObtainable %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
                Class Highest Percentage:
              </p>
              <div
                style="flex: 1; font-size: 16px; font-weight: 400; border-bottom: 1px solid #51819A"
              >
                <%= data.classHighestMark %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px; width: 30%">
              <p style="margin: 0; font-size: 14px; line-height: 14px; font-weight: 700">
                Position:
              </p>
              <div
                style="flex: 1; font-size: 16px; font-weight: 400; border-bottom: 1px solid #51819A"
              >
                <%= data.overallGrade.description %>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 30px; width: 100%; display: flex; gap: 1%;">
         <div style="width: 75%;">
          <table
          class="subject_table"
          style="
            border: 1px solid #8c375c;
            width: 100%;
            table-layout: fixed;
            border-collapse: collapse;
          "
        >
          <thead>
            <tr>
              <th style="width: 10%; font-size: 12px; padding: 5px; font-weight: 700">SUBJECTS</th>
              <th style="font-size: 12px; font-weight: 700">Home work (20%)</th>
              <th style="font-size: 12px; font-weight: 700">C/A 1 (10%)</th>
              <th style="font-size: 12px; font-weight: 700">C/A 2(10%)</th>
              <th style="font-size: 12px; font-weight: 700">EXAMINATION (60%)</th>
              <th style="font-size: 12px; font-weight: 700">TOTAL (100%)</th>
              <th style="font-size: 12px; font-weight: 700">GRADE</th>
              <th style="font-size: 12px; font-weight: 700">POSITION</th>
              <th style="font-size: 12px; font-weight: 700">TEACHER'S REMARK</th>
              <th style="font-size: 12px; font-weight: 700">SIGNATURE</th>
            </tr>
          </thead> 
      
          <tbody>
            <% data?.subjects?.forEach(function({
              subjectName,
              exam,
              total,
              grade,
              sign,
              assessments,
              position
            }) { %>
            <tr>
              <td class="subjectName" style="font-size: 14px; padding: 5px; font-weight: 700">
                <%= subjectName %>
              </td>
      
              <!-- home work -->
              <td style="font-size: 14px; padding-left: 5px">
                <%= assessments ? assessments[0] : '' %>
              </td>
      
              <!-- 1st C/A -->
              <td style="font-size: 14px; padding-left: 5px">
                <%= assessments ? assessments[1] : '' %>
              </td>
              <!-- 2nd C/A -->
              <td style="font-size: 14px; padding-left: 5px">
                <%= assessments ? assessments[2] : '' %>
              </td>
      
              <!-- Exam -->
              <td style="font-size: 14px; padding-left: 5px"><%= exam %></td>
      
              <!-- Total -->
              <td style="font-size: 14px; padding-left: 5px"><%= total %></td>
      
              <!-- Grade -->
              <td style="font-size: 14px; padding-left: 5px"><%= grade ? grade?.label : '' %></td>
      
              <!-- Position (Ordinal) -->
              <td style="font-size: 14px; padding-left: 5px">
                <% function getOrdinal(position) {
                     if (!position) return '';
                     if (position % 10 === 1 && position % 100 !== 11) return `${position}st`;
                     if (position % 10 === 2 && position % 100 !== 12) return `${position}nd`;
                     if (position % 10 === 3 && position % 100 !== 13) return `${position}rd`;
                     return `${position}th`;
                   } %>
                <%= getOrdinal(position) %>
              </td>
      
              <!-- Remark -->
              <td style="font-size: 14px; padding-left: 5px">
                <%= grade.description %>
              </td>
      
              <!-- Signature -->
              <td style="font-size: 14px; padding-left: 5px">
                <%= sign || '' %>
              </td>
            </tr>
            <% }); %>
          </tbody>  
         
        </table>
         </div>
         <div style="width: 24%;">
          <table
  style="
    border: 2px solid #51819A;
    width: 100%;
    table-layout: fixed;
    border-collapse: collapse;
  "
>
  <thead>
    <tr>
      <th
        style="
          width: 40%;
          font-size: 14px;
          font-weight: 700;
          border: 2px solid #51819A;
          padding: 5px;
        "
      >Skills</th>
      <th style="border: 2px solid #51819A; font-size: 14px;">5</th>
      <th style="border: 2px solid #51819A; font-size: 14px;">4</th>
      <th style="border: 2px solid #51819A; font-size: 14px;">3</th>
      <th style="border: 2px solid #51819A; font-size: 14px;">2</th>
      <th style="border: 2px solid #51819A; font-size: 14px;">1</th>
    </tr>
  </thead>
  <tbody>
    <% data.practical_skills.forEach(function(skill) { %>
    <tr>
      <td style="font-size: 14px; border: 2px solid #51819A; padding: 5px;">
        <%= skill.name %>
      </td>
      <% for (let i = 5; i >= 1; i--) { %>
      <td style="font-size: 14px; border: 2px solid #51819A; text-align: center;">
        <%= skill.value == i ? '✔️' : '' %>
      </td>
      <% } %>
    </tr>
    <% }); %>

    <% data.character_development.forEach(function(character) { %>
    <tr>
      <td style="font-size: 14px; border: 2px solid #51819A; padding: 5px;">
        <%= character.name %>
      </td>
      <% for (let i = 5; i >= 1; i--) { %>
      <td style="font-size: 14px; border: 2px solid #51819A; text-align: center;">
        <%= character.value == i ? '✔️' : '' %>
      </td>
      <% } %>
    </tr>
    <% }); %>
  </tbody>
</table>

         </div>
        </div>

        <div style="margin-top: 30px; display: flex; gap: 20px; width: 100%;">
          <div style="width: 50%">
            <div style="display: flex; align-items: center; justify-content: center">
              <p
                style="
                  text-align: center;
                  font-size: 14px;
                  font-weight: 700;
                  padding: 6px;
                  margin: 0;
                  color:#51819A;
                  width: fit-content;
                  text-decoration: underline;
                "
              >
                 GRADE
              </p>
            </div>

            <table
              style="
                border: 2px solid #51819A;
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
              "
            >
              <thead>
                <tr>
                  <th
                    style="
                      width: 50%;
                      font-size: 14px;
                      font-weight: 700;
                      border: 2px solid #51819A;
                      padding: 5px;
                    "
                  >
                    NAME
                  </th>
                  <th
                    style="
                      width: 50%;
                      font-size: 14px;
                      font-weight: 700;
                      border: 2px solid #51819A;
                      padding-left: 5px;
                    "
                  >
                    Grade
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data.grades.forEach(function(grade) { %>
                <tr>
                  <td style="font-size: 14px; border: 2px solid #51819A; padding: 5px">
                    <%= Number(grade.min) %> - <%= Number(grade.max) %>
                  </td>
                  <td style="font-size: 14px; border: 2px solid #51819A; padding-left: 10px">
                    <%= grade.label %> = <%= grade.description %>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <div style="width: 50%; ">
            <div style="display: flex; align-items: center; justify-content: center">
              <p
                style="
                  text-align: center;
                  font-size: 14px;
                  font-weight: 700;
                  padding: 6px;
                  margin: 0;
                  color:#51819A;
                  width: fit-content;
                  text-decoration: underline;
                "
              >
                 GRADE
              </p>
            </div>
            <div style="  border: 2px solid #51819A; width: 100%; height: 190px; padding-left: 10px;">
              <p> 5.Maintains an excellented agree of observation traits</p>
             <P> 4.Maintain high level of observation traits</P>
              <p>3.Acceptable level of observation</p>
              <p>2.Show minimal regard observation</p>
             <p> 1.Has no regard for observation traits</p>
             
            </div>
          </div>
        </div>

        <div style="margin-top: 30px">
          <div
            style="
              display: flex;
              align-items: flex-end;
              gap: 4px;
              margin-top: 20px;
              font-size: 14px;
            "
          >
            <p style="margin: 0; font-weight: 400">Class Teacher's Remark:</p>
            <div style="border-bottom: 1px solid #51819A; flex: 1">
              <%= data.classTeacherRemark %>
            </div>
          </div>
          <div
            style="
              display: flex;
              font-size: 14px;
              align-items: flex-end;
              gap: 4px;
              margin-top: 20px;
            "
          >
            <p style="margin: 0; font-weight: 400">Principal's Remark:</p>
            <div style="border-bottom: 1px solid #51819A; flex: 1"><%= data.principalRemark %></div>
          </div>
          <div
            style="
              display: flex;
              font-size: 14px;
              align-items: center;
              gap: 20px;
              margin-top: 20px;
              justify-content: space-between;
            "
          >
            <div style="display: flex; font-size: 14px; gap: 4px; width: 48%">
              <p style="margin: 0; font-weight: 400">Sign:</p>
              <div style="border-bottom: 1px solid #51819A; flex: 1">
                <%= data.signature %>
              </div>
            </div>
            <div style="display: flex; font-size: 14px; gap: 4px; width: 48%">
              <p style="margin: 0; font-weight: 400">Date:</p>
              <div style="border-bottom: 1px solid #51819A; flex: 1">
                <%= data.date%>
              </div>
            </div>
          </div>
        </div>
       
      </div>
      <div style="width: 3000px; height: 1px"></div>
    </div>
  </body>
</html>
