<html lang="en">
  <head>
    <title><%= data.student.name %> Report Card</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      rel="preload"
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      as="style"
      onload="this.onload=null;this.rel='stylesheet'"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;700&display=swap"
      rel="stylesheet"
    />

    <style>
      td,
      th {
        border: 2px solid rgb(40, 126, 65);
      }

      body {
        margin: 0;
        font-family: 'Roboto', sans-serif;
        color: rgb(40, 126, 65);
      }

      .container {
        padding: 30px;
      }

      .report-card {
        border: 2px solid rgb(165, 117, 48);
        padding: 60px 32px;
        min-width: 1550px;
      }

      table {
        width: 100%;
        border-collapse: collapse;
        table-layout: fixed;
      }

      th,
      td {
        padding: 10px;
        font-size: 0.9em;
      }
      @media screen and (max-width: 768px) {
        .header {
          align-items: start !important;
          gap: 4px !important;
        }
        .subject_table {
          overflow-x: auto;
          min-width: 900px;
        }
        .divider {
          display: none;
        }
        .address_motto {
          flex-direction: column;
        }
        .character {
          flex-direction: column;
        }
        .first_text {
          flex-direction: column;
        }
        .subjectName {
          width: 400px !important;
        }
        .container {
          padding: 20px;
        }
        .passport {
          width: 100px !important;
          height: 100px !important;
        }
        .passport_text {
          font-size: 12px !important;
        }
        .school_logo {
          width: 100px !important;
          height: 100px !important;
        }
        .text {
          flex-direction: column;
        }
        .items {
          width: 100% !important;
        }
        .schoolName {
          font-size: 10px !important;
        }
      }
    </style>
  </head>
  <body>
    <div class="container">
      <div class="report-card">
        <div class="header" style="display: flex; justify-content: space-between; gap: 20px">
          <div class="school_logo" style="border: 1px solid #000; width: 200px; height: 200px">
            <img
              src="<%= data.school.logo %>"
              alt="Logo"
              height="200"
              width="200"
              style="object-fit: contain"
            />
          </div>

          <div style="display: flex; align-items: center; flex-direction: column">
            <h1 class="schoolName" style="color: rgb(40, 126, 65); font-size: 70px; margin: 0">
              <%= data.school.name %>
            </h1>
            <h3 style="font-size: 37px; color: rgb(51, 71, 75); margin: 0">
              (NURSERY/PRIMARY/SECONDARY)
            </h3>
            <h4 style="margin: 0; font-size: 32px; color: rgb(51, 71, 75); font-weight: 400">
              <%= data.school.address %>
            </h4>
            <div style="margin-bottom: 40px"></div>
            <h5 style="margin: 0; color: rgb(164, 59, 79); font-size: 30px; font-weight: 400">
              <%= data.school.motto %>
            </h5>
            <h5 style="margin: 0; font-size: 28px; color: rgb(51, 71, 75)">
              Tel: 09133035479, 08054336567
            </h5>
            <h2 style="font-size: 47px; margin: 0">FIRST TERM REPORT SHEET</h2>
            <div style="margin-top: 36px"></div>
            <h3 style="margin: 0; font-size: 36px; color: rgb(51, 71, 75)">(JSS SECTION)</h3>
          </div>
          <div style="border: 1px solid #000; height: 400px; width: 250px">
            <img src="<%= data.student.passport %>" alt="Passport" height="400" width="250" />
          </div>
        </div>
        <div style="margin-top: 42px; display: flex; flex-direction: column; gap: 42px">
          <div style="display: flex; gap: 20px">
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">
                STUDENT NAME:
              </p>
              <div
                class="student-name"
                style="
                  width: 500px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 24px;
                  line-height: 20px;
                  font-weight: 400;
                  padding-left: 5px;
                "
              >
                <%= data.student.name %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">GENDER:</p>
              <div
                style="
                  width: 200px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 24px;
                  line-height: 20px;
                  font-weight: 400;
                "
              >
                <%= data.student.gender %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">
                NO. IN CLASS:
              </p>
              <div
                style="
                  width: 150px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 24px;
                  line-height: 20px;
                  font-weight: 400;
                "
              >
                <%= data.numberInClass %>
              </div>
            </div>
          </div>
          <div style="display: flex; gap: 20px">
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">
                STUDENT CLASS:
              </p>
              <div
                style="
                  width: 320px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 24px;
                  line-height: 20px;
                  font-weight: 400;
                "
              >
                <%= data.className %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">TERM:</p>
              <div
                style="
                  width: 210px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 24px;
                  line-height: 20px;
                  font-weight: 400;
                "
              >
                <%= data.termName %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">
                SESSION:
              </p>
              <div
                style="
                  width: 180px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 24px;
                  line-height: 20px;
                  font-weight: 400;
                "
              >
                <%= data.sessionName %>
              </div>
            </div>
          </div>
          <div style="display: flex; gap: 20px">
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">
                NO OF DAYS SCHOOL OPENED:
              </p>
              <div style="width: 240px; font-size: 24px; border-bottom: 1px solid rgb(40, 126, 65)">
                <%= data.numberOfDaysOpened %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">
                NO OF DAYS PRESENT:
              </p>
              <div style="width: 130px; font-size: 24px; border-bottom: 1px solid rgb(40, 126, 65)">
                <%= data.presentCount %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 24px; line-height: 20px; font-weight: 400">
                NO OF DAYS OUT OF SCHOOL:
              </p>
              <div style="width: 120px; font-size: 24px; border-bottom: 1px solid rgb(40, 126, 65)">
                <%= data.numberOfDaysOpened - data.presentCount %>
              </div>
            </div>
          </div>
        </div>
        <div style="margin-top: 60px">
          <table
            style="
              border: 2px solid rgb(40, 126, 65);
              width: 100%;
              table-layout: fixed;
              border-collapse: collapse;
            "
          >
            <thead>
              <tr>
                <th style="width: 35%; font-size: 18px; padding: 30px">SUBJECTS</th>
                <th style="width: 7%; font-size: 18px">CA 1 20%</th>
                <th style="width: 7%; font-size: 18px">CA 2 20%</th>
                <th style="width: 7%; font-size: 18px">EXAM</th>
                <th style="width: 7%; font-size: 18px">TOTAL</th>
                <!--                <th style="width: 7%; font-size: 18px">AVERAGE SCORE</th>-->
                <th style="width: 7%; font-size: 18px">GRADE</th>
                <th style="width: 11%; font-size: 18px">COMMENT</th>
                <th style="width: 7%; font-size: 18px">SIGN</th>
              </tr>
            </thead>
            <tbody>
              <% data.subjects.forEach(function({subjectName, assessments, total, averageScore, grade, comment, sign}) { %>
              <tr>
                <td style="font-size: 20px; padding: 10px"><%= subjectName %></td>
                <td style="font-size: 20px; padding-left: 5px">
                  <%= assessments ? assessments[0] : '' %>
                </td>
                <td style="font-size: 20px; padding-left: 5px">
                  <%= assessments ? assessments[1] : '' %>
                </td>
                <td style="font-size: 20px; padding-left: 5px">
                  <%= assessments ? assessments[2] : '' %>
                </td>
                <td style="font-size: 20px; padding-left: 5px"><%= total %></td>
                <!--                <td style="font-size: 20px; padding-left: 5px"><%= averageScore %></td>-->
                <td style="font-size: 20px; padding-left: 5px"><%= grade ? grade.label : '' %></td>
                <td style="font-size: 20px; padding-left: 5px">
                  <%= grade ? grade.description : '' %>
                </td>
                <td style="font-size: 20px; padding-left: 5px"><%= sign %></td>
              </tr>
              <% }); %>
            </tbody>
          </table>
        </div>
        <div style="margin-top: 30px; display: flex; gap: 40px">
          <div style="width: 100%">
            <p style="text-align: center; font-size: 20px; font-weight: 700">PRACTICAL SKILLS</p>
            <table
              style="
                border: 2px solid rgb(40, 126, 65);
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
              "
            >
              <thead>
                <tr>
                  <th
                    style="
                      width: 60%;
                      font-size: 20px;
                      font-weight: 700;
                      border: 2px solid rgb(40, 126, 65);
                      padding: 10px;
                    "
                  >
                    NAME
                  </th>
                  <th
                    style="
                      width: 40%;
                      font-size: 20px;
                      font-weight: 700;
                      border: 2px solid rgb(40, 126, 65);
                      padding-left: 5px;
                    "
                  >
                    Grade
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data.practical_skills.forEach(function(skill) { %>
                <tr>
                  <td style="font-size: 20px; border: 2px solid rgb(40, 126, 65); padding: 10px">
                    <%= skill.name %>
                  </td>
                  <td
                    style="font-size: 20px; border: 2px solid rgb(40, 126, 65); padding-left: 5px"
                  >
                    <%= skill.value %>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <div style="width: 100%">
            <p style="text-align: center; font-size: 20px; font-weight: 700">
              CHARACTER DEVELOPMENT
            </p>

            <table
              style="
                border: 2px solid rgb(40, 126, 65);
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
              "
            >
              <thead>
                <tr>
                  <th
                    style="
                      width: 60%;
                      font-size: 20px;
                      font-weight: 700;
                      border: 2px solid rgb(40, 126, 65);
                      padding: 10px;
                    "
                  >
                    NAME
                  </th>
                  <th
                    style="
                      width: 40%;
                      font-size: 20px;
                      font-weight: 700;
                      border: 2px solid rgb(40, 126, 65);
                      padding-left: 5px;
                    "
                  >
                    Grade
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data.character_development.forEach(function(character) { %>
                <tr>
                  <td style="font-size: 20px; border: 2px solid rgb(40, 126, 65); padding: 10px">
                    <%= character.name %>
                  </td>
                  <td
                    style="font-size: 20px; border: 2px solid rgb(40, 126, 65); padding-left: 5px"
                  >
                    <%= character.value %>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
          <div style="width: 100%">
            <p style="text-align: center; font-size: 20px; font-weight: 700">
              INTERPRETATION OF GRADE
            </p>

            <table
              style="
                border: 2px solid rgb(40, 126, 65);
                width: 100%;
                table-layout: fixed;
                border-collapse: collapse;
              "
            >
              <thead>
                <tr>
                  <th
                    style="
                      width: 50%;
                      font-size: 20px;
                      font-weight: 700;
                      border: 2px solid rgb(40, 126, 65);
                      padding: 10px;
                    "
                  >
                    NAME
                  </th>
                  <th
                    style="
                      width: 50%;
                      font-size: 20px;
                      font-weight: 700;
                      border: 2px solid rgb(40, 126, 65);
                      padding-left: 5px;
                    "
                  >
                    Grade
                  </th>
                </tr>
              </thead>
              <tbody>
                <% data.grades.forEach(function(grade) { %>
                <tr>
                  <!-- Ensuring min and max are treated as numbers -->
                  <td style="font-size: 20px; border: 2px solid rgb(40, 126, 65); padding: 10px">
                    <%= Number(grade.min) %> - <%= Number(grade.max) %>
                  </td>
                  <td
                    style="font-size: 20px; border: 2px solid rgb(40, 126, 65); padding-left: 10px"
                  >
                    <%= grade.label %>
                    =
                    <%= grade.description %>
                  </td>
                </tr>
                <% }); %>
              </tbody>
            </table>
          </div>
        </div>

        <div style="margin-top: 60px">
          <div style="display: flex; gap: 20px">
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 20px; font-weight: 400">MARK OBTAINABLE:</p>
              <div
                style="
                  width: 200px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 20px;
                  font-weight: 400;
                "
              >
                <%= data.markObtainable %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 20px; font-weight: 400">MARKS OBTAINED:</p>
              <div
                style="
                  width: 170px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 20px;
                  font-weight: 400;
                "
              >
                <%= data.markObtained %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 20px; font-weight: 400">AVERAGE SCORE:</p>
              <div
                style="
                  width: 150px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 20px;
                  font-weight: 400;
                "
              >
                <%= data.averageScore %>
              </div>
            </div>
            <div style="display: flex; align-items: flex-end; gap: 4px">
              <p style="margin: 0; font-size: 20px; font-weight: 400">GRADE:</p>
              <div
                style="
                  width: 100px;
                  border-bottom: 1px solid rgb(40, 126, 65);
                  font-size: 20px;
                  font-weight: 400;
                "
              >
                <%= data.overallGrade ? data.overallGrade.label : "" %>
              </div>
            </div>
          </div>

          <div style="display: flex; align-items: flex-end; gap: 4px; margin-top: 30px">
            <p style="margin: 0; font-size: 20px; font-weight: 400">NEXT TERM BEGINS:</p>
            <div
              style="
                flex: 1;
                border-bottom: 1px solid rgb(40, 126, 65);
                font-size: 20px;
                font-weight: 400;
              "
            >
              <%= data.nextTermBegin %>
            </div>
          </div>

          <div
            style="
              display: flex;
              align-items: flex-end;
              gap: 4px;
              margin-top: 30px;
              margin-bottom: 50px;
              font-size: 20px;
            "
          >
            <p style="margin: 0; font-weight: 400">CLASS TEACHER'S REMARK:</p>
            <div style="border-bottom: 1px solid rgb(40, 126, 65); flex: 1">
              <%= data.classTeacherRemark %>
            </div>
          </div>
          <div
            style="
              display: flex;
              font-size: 20px;
              align-items: flex-end;
              gap: 4px;
              margin-top: 30px;
            "
          >
            <p style="margin: 0; font-weight: 400">PRINCIPAL'S REMARK:</p>
            <div style="border-bottom: 1px solid rgb(40, 126, 65); flex: 1">
              <%= data.principalRemark %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
